{% load static %}
{% if row.render_formular and not card.read_only %} 
{# Create a form for changing/adding #}
    <link rel="stylesheet" href="{% static 'colorfield/coloris/coloris.min.css' %}">
    <input type="text" id="{{ row.id }}" class="colorfield_field {% if class %}{{ class }}{% else %}form-control{% endif %}"
        name="{{ row.name }}"
        value="{% firstof row.value default '' %}"
        placeholder="{% firstof value default '' %}"
        data-coloris
        {% if row.disabled %}disabled{% endif %}
        {% if row.required %}required{% endif %} />
    <script src="{% static 'colorfield/coloris/coloris.min.js' %}"></script>
    <script src="{% static 'colorfield/colorfield.js' %}"></script>
{% else %}
    {# Just display the value #}
    <output id="{{ row.id }}">
        {% if row.value %}
            <span class="color-label" style="background-color:{{ row.value }}">&nbsp;</span>
        {% else %}
            {{ global_none }}
        {% endif %}
    </output>
{% endif %}