{% if row.render_formular and not card.read_only %}
    {# Create a form for changing/adding #}
    <div class="form-check form-switch">
        <input type="checkbox" name="{{ row.field.html_name }}" class="form-check-input" style="{{ row.style }}"  id="{{ row.id }}" {% if row.field.value %}checked{% endif %}>
    </div>
{% else %}
    {# Just display the value #}
    <output id="{{ row.id }}">
        {% if row.value %}
            {{ row.value }}
        {% else %}
            {{ global_none }}
        {% endif %}
    </output>
{% endif %}

