{% if row.render_formular and not card.read_only %}
    {# Create a form for changing/adding #}
    <select name="{{ row.name }}" id="{{ row.id }}" class="form-control select2"
        {% if row.multiple %}
            multiple="multiple" style="width: 100%"
        {% endif %}
        {% if row.size %}
            size="{{ row.size }}"
        {% endif %}
    >

    {% if row.multiple %}
        {% for value, display in row.select_data.items %}
            {% if value in row.value %}
                <option value="{{ value }}" selected>{{ display }}</option>
            {% else %}
                <option value="{{ value }}">{{ display }}</option>
            {% endif %}
        {% endfor %}
        <script type="text/javascript">
            $(document).ready(function() {
                // initialize Select2 on select field of class 'select2'
                $('#{{ row.id }}').select2(
                    {
                        width: 'resolve'
                    }
                );
            });
        </script>
    {% else %}
        {% if not row.required %}
            <option value="">{{ global_none }}</option>
        {% endif %}

        {% for value, display in row.select_data.items %}
            {% if row.value == value %}
                <option value="{{ value }}" selected>{{ display }}</option>
            {% else %}
                <option value="{{ value }}">{{ display }}</option>
            {% endif %}
        {% endfor %}
        <script type="text/javascript">
            $(document).ready(function() {
                // initialize Select2 on select field of class 'select2'
                $('#{{ row.id }}').select2(
                    {
                        theme: 'bootstrap-5',
                        width: 'style'
                    }
                );
            });
        </script>
    {% endif %}
    </select>

    {% if row.multiple %}
    <br>
    {% endif %}
{% else %}
    {# Just display the value #}
    <output id="{{ row.id }}">
        {% if row.value %}
            {{ row.value }}
        {% else %}
            {{ global_none }}
        {% endif %}
    </output>
{% endif %}