include README.md
include LICENSE
include requirements.txt
recursive-include django_toolkit *.py
recursive-include django_toolkit/templates *.html
recursive-include django_toolkit/static *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
