{% load static %}
<header class="dtk-header">
    <div class="dtk-header-inner">
        <button type="button" class="btn btn-outline-secondary dtk-sidebar-toggle" id="dtk-sidebar-toggle" aria-label="Toggle sidebar" aria-expanded="true" aria-controls="dtk-sidenav">
            <i class="mdi mdi-menu"></i>
        </button>
        <div class="dtk-header-spacer"></div>
        <div class="dtk-header-profile">
            {% include 'django_toolkit/includes/profile-button.html' %}
        </div>
    </div>
</header>