{% load calc %}

<div class="row dt-card-grid">
    {% for card_col in cards %}
        {# the number of card columns depends on the length of the card list in the model meta information #}
        <div class="col col-md-{{ 12|divide:card_column_count }} dt-card-col">
            {% for card in card_col %}
                {% if card.is_placeholder %}
                    <div class="dt-card dt-card-placeholder"></div>
                {% else %}
                    <div class="dt-card">
                        <div class="dt-card-header">
                            <h5 class="dt-card-title">{{ card.header }}</h5>
                        </div>    
                        <div class="dt-card-body">
                            <table class="table table-hover attr-table">
                                <tbody>
                                    {% for row in card.rows %}
                                        {% include 'django_toolkit/includes/card_row.html' with row=row %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if card.ajax_js %}
                    <script type="text/javascript">
                        {{ card.ajax_js }}
                    </script>
                {% endif %}

            {% endfor %}
        </div>
    {% endfor %}
</div>


