{% load calc %}

<div class="card">
    <div class="card-header">
        <h5>{{ card.header }}</h5>
    </div>    
    <div class="card-body">
        <table class="table table-hover attr-table">
            <tbody>
                {% for row in card.rows %}
                    {% include 'django_toolkit/includes/field.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if card.ajax_js %}
    <script type="text/javascript">
        {{ card.ajax_js }}
    </script>
{% endif %}
