<tr class="dt-attr-row">
    {# display #}
    <td scope="row" class="dt-attr-label">
        <label for="{{ row.id }}" {% if row.required %}class="required"{% endif %}>
            {{ row.display }}
        </label>
    </td>


    {# value #}
    <td class="dt-attr-value">

    {# render the formular (AddView or UpdateView) #}
        <div class="col">
            {% if row.form == 'display' %}
                {% include 'django_toolkit/input_forms/display.html' %}
            {% elif row.form == 'input_text' %}
                {% include 'django_toolkit/input_forms/input_text.html' %}
            {% elif row.form == 'input_password' %}
                {% include 'django_toolkit/input_forms/input_password.html' %}
            {% elif row.form == 'input_number' %}
                {% include 'django_toolkit/input_forms/input_number.html' %}
            {% elif row.form == 'input_checkbox' %}
                {% include 'django_toolkit/input_forms/input_checkbox.html' %}
            {% elif row.form == 'input_datetime' %}
                {% include 'django_toolkit/input_forms/input_datetime.html' %}
            {% elif row.form == 'input_date' %}
                {% include 'django_toolkit/input_forms/input_date.html' %}
            {% elif row.form == 'textarea' %}
                {% include 'django_toolkit/input_forms/textarea.html' %}
            {% elif row.form == 'select' %}
                {% include 'django_toolkit/input_forms/select.html' %}
            {% elif row.form == 'select_search' %}
                {% include 'django_toolkit/input_forms/select_search.html' %}
            {% elif row.form == 'colorfield' %}
                {% include 'django_toolkit/input_forms/colorfield.html' %}
            {% else %}
                Eingabefeld '{{ row.form }}'
            {% endif %}

            {% if row.render_formular %}
                <span class="form-text">{{ row.help }}</span>
                <div class="invalid-feedback"></div>
            {% endif %}
        </div>

    {# display errors for row #}
        {% if form.errors %}
            {% for field_name, errors in form.errors.items %}
                {% if field_name == row.field_name %}
                    <div class="alert alert-danger alert-sm dt-row-error" role="alert">
                        {% for error in errors %}
                            <small class="d-block">{{ error }}</small>  
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </td>
</tr>
