<tr>
    {# display #}
    {% if card.td_display_class %}
        <td scope="row" class="{{ card.td_display_class }}">
    {% else %}
        <td scope="row">
    {% endif %}
        <label for="{{ row.id }}" {% if row.required %}class="required"{% endif %}>
            {{ row.display }}
        </label>
    </td>


    {# value #}
    {% if card.td_value_class %}
        <td class="{{ card.td_value_class }}">
    {% else %}
        <td>
    {% endif %}

    {# render the formular (AddView or UpdateView) #}
        <div class="col">
            {% if row.form == 'input_text' %}
                {% include 'fast_dev/input_forms/input_text.html' %}
            {% elif row.form == 'input_number' %}
                {% include 'fast_dev/input_forms/input_number.html' %}
            {% elif row.form == 'input_checkbox' %}
                {% include 'fast_dev/input_forms/input_checkbox.html' %}
            {% elif row.form == 'input_datetime' %}
                {% include 'fast_dev/input_forms/input_datetime.html' %}
            {% elif row.form == 'input_date' %}
                {% include 'fast_dev/input_forms/input_date.html' %}
            {% elif row.form == 'textarea' %}
                {% include 'fast_dev/input_forms/textarea.html' %}
            {% elif row.form == 'select' %}
                {% include 'fast_dev/input_forms/select.html' %}
            {% elif row.form == 'select_search' %}
                {% include 'fast_dev/input_forms/select_search.html' %}
            {% elif row.form == 'colorfield' %}
                {% include 'fast_dev/input_forms/colorfield.html' %}
            {% else %}
                Eingabefeld '{{ row.form }}'
            {% endif %}

            {% if row.render_formular %}
                <span class="form-text">{{ row.help }}</span>
                <div class="invalid-feedback"></div>
            {% endif %}
        </div>

    {# display errors for row #}
        {% if form.errors %}
            {% for field_name, errors in form.errors.items %}
                {% if field_name == field.name %}
                    {% for error in errors %}
                        <small  class="text-danger">{{ error }}</small>  
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </td>
</tr>

