{% extends 'django_toolkit/base/layout.html' %}


{% block content-header %}
    {% include 'django_toolkit/includes/content-header.html' %}
{% endblock %}


{% block content %}
<form method="post">
    {% csrf_token %}
    {% include 'django_toolkit/includes/cards.html' %}

    <div class="row">
        <div class="col col-12 col-xl-6"></div>
        <div class="col col-12 col-xl-6">
            <a class="btn btn-outline-danger" href="{{ own_site }}">Cancel</a>
            <!-- <button type="submit" name="_addanother" class="btn btn-outline-primary">Create &amp; Add Another</button> -->
            <button type="submit" name="_create" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>
{% endblock %}
