{% extends 'django_toolkit/base/layout.html' %}


{% block content-header %}
    {% include 'django_toolkit/includes/content-header.html' %}
{% endblock %}


{% block content %}
<form method="post">
    {% csrf_token %}
    {# { form.as_p } #}
    {% include 'django_toolkit/includes/cards.html' %}

    {# % for field in form % #}
        {# % include 'forms/paragraph.html' with field=field % #}
    {# % endfor % #}
    
    <div class="row dt-form-actions">
        <div class="col col-12 col-xl-6"></div>
        <div class="col col-12 col-xl-6">
            {% for button in form_buttons %}
                {{ button }}
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}

